[submodule "backend/external/zeromq"]
	path = backend/external/zeromq
	url = https://github.com/zeromq/cppzmq.git
[submodule "spdlog"]
	path = backend/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "jsoncpp"]
	path = backend/external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
